<article class="post">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                <a href="/dashboard/edit/{{id}}" class="edit-link">{{title}}</a>
            </p>
            <p class="post-date">
                {{format_date created_at}}
            </p>
        </div>
    </div>
</article>