<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gettin' Techie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav class="columns">
            <div class="column is-3">
                <a href="/" class="title">
                    {{#if loggedIn}}
                    Logged In
                    {{else}}
                    Gettin' Techie
                    {{/if}}
                </a>
            </div>
            <div class="column">
                <div class="tabs is-right is-medium">
                    <ul>
                        {{#if loggedIn}}
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a id="logout">Logout</a>
                        </li>
                        {{else}}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>&#169; Gettin' Techie Blog 2022</p>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>