{{#if posts.length}}
<section>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> dash-post post}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<section>
    <a href="/dashboard/new" class="button">+ Create New Post</a>
</section>