<div class="card">
    <div class="card-header">
        <p class="card-header-title">
            Edit Post
        </p>
    </div>
    <div class="card-content">
        <form class="edit-post-form">
                <div class="field">
                    <label class="label" for="post-title">Title:</label>
                    <input class="input" name="post-title" type="text" value="{{post.title}}" />
                </div>
                <div class="field">
                    <label class="label" for="content">Content:</label>
                    <textarea class="textarea" name="post-content">{{post.content}}</textarea>
                </div>
                <div>
                    <button class="button" type="submit">Save post</button>
                    <button type="button" class="button delete-post-btn">Delete post</button>
                </div>
        </form>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>