<div class="card">
    <div class="card-header">
        <p class="card-header-title">
            Login
        </p>
    </div>
    <div class="card-content">
        <form class="login-form">
            <div class="field">
                <label class="label" for="email-login">Email:</label>
                <input class="input" type="text" id="email-login" />
            </div>
            <div class="field">
                <label class="label" for="password-login">Password:</label>
                <input class="input" type="password" id="password-login" />
            </div>
            <div>
                <button type="submit" class="button">Login</button>
            </div>
            </br>
            <div>
                <a href="/sign-up" class="post-link">Sign up instead</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>