<div class="card">
    <div class="card-header">
        <p class="card-header-title">
            New Post
        </p>
    </div>
    <div class="card-content">
        <form class="new-post-form">
            <div class="field">
                <label class="label" for="post-title">Title:</label>
                <input class="input" type="text" id="post-title" name="post-title" />
            </div>
            <div class="field">
                <label class="label" for="content">Content:</label>
                <textarea class="textarea" name="post-content"></textarea>
            </div>
            <div>
                <button type="submit" class="button">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/add-post.js"></script>