<div class="card">
    <div class="card-header">
        <p class="card-header-title">
            Sign Up
        </p>
    </div>
    <div class="card-content">
        <form class="signup-form">
            <div class="field">
                <label for="username-signup" class="label">Username:</label>
                <input type="text" id="username-signup" class="input" />
            </div>
            <div class="field">
                <label for="email-signup" class="label">Email:</label>
                <input type="text" id="email-signup" class="input" />
            </div>
            <div class="field">
                <label for="password-signup" class="label">Password:</label>
                <input type="password" id="password-signup" class="input" />
            </div>
            <div>
                <button type="submit" class="button">Sign Up</button>
            </div>
            </br>
            <div>
                <a href="/login" class="post-link">Login instead</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>