:root {
    --primary-color: #306BAC;
    --secondary-color: #141B41;
    --tertiary-color: #98B9F2;
    --link-color: #6F9CEB;
    --hover-color: #918EF4;
}

* {
    box-sizing: border-box;
}


  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

header {
    padding: 2%;
}

.title {
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 1%;
    box-shadow: 12px 12px 2px var(--primary-color);
    color: var(--tertiary-color);
}

.logged-in-title {
    font-size: small;
}

.title:hover {
    color: var(--hover-color);
}

.tabs a {
    color: var(--primary-color);
}

.tabs a:hover {
    color: var(--hover-color);
}

main {
    padding: 2%;
}

.post {
    margin-bottom: 2%;
}

ol li::marker {
    color: var(--tertiary-color);
}

.card-header, .card-footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.card-header-title {
    color: var(--tertiary-color);
}

.card-content, .label, .button {
    color: var(--primary-color);
}

.delete-post-btn {
    color: red;
}

.post-date {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 1em;
    font-weight: bold ;
}

.footer-content {
    font-size: small;
}

.post-link, .edit-link {
    color: var(--link-color);
}

.post-link:hover, .edit-link:hover {
    color: var(--hover-color);
}

footer {
    position: fixed;
    padding: 2%;
    left: 0;
    bottom: 0;
    color: var(--primary-color);
}